.private-hoverlay__overlay,
.private-overlay {
  background-color: rgba(45, 62, 80, 0.79);
  bottom: 0;
  contain: content;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 900;
}
.private-hoverlay__overlay.private-overlay--contextual,
.private-overlay.private-overlay--contextual {
  contain: none;
  position: absolute;
}
@media only screen and (min-width: 800px) {
  .private-hoverlay__overlay,
  .private-overlay {
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 545px) {
  .private-hoverlay__overlay,
  .private-overlay {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
.private-overlay--light {
  background-color: rgba(255, 255, 255, 0.79);
}
.private-overlay--white {
  background-color: rgba(255, 255, 255, 1);
}
.private-overlay--contextual {
  position: absolute;
}
.private-overlay__overlay-content {
  height: 100%;
  margin: 0;
  width: 100%;
}
.private-overlay__overlay-content > * {
  height: 100%;
  margin: 0;
  width: 100%;
}
.private-hoverlay {
  overflow: hidden;
  position: relative;
}
.private-hoverlay.private-hoverlay--full-card .private-hoverlay__child {
  margin-bottom: 5px;
}
.private-hoverlay.private-hoverlay--full-card .private-hoverlay__overlay {
  border-radius: 3px;
  bottom: 5px;
}
.private-hoverlay.private-hoverlay--bottom-half-card
  .private-hoverlay__overlay {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.private-hoverlay .private-hoverlay__overlay {
  transition: background-color 0.2s;
  background-color: rgba(81, 111, 144, 0);
  z-index: 1;
}
.private-hoverlay .private-hoverlay__overlay.private-overlay--contextual {
  padding: 0;
}
.private-hoverlay
  .private-hoverlay__overlay.private-hoverlay__overlay--clickable {
  cursor: pointer;
  outline: none;
}
.private-hoverlay .private-hoverlay__overlay + .private-hoverlay__children {
  -ms-filter: blur(0);
  -webkit-filter: blur(0);
  filter: blur(0);
  transition: -webkit-filter 0.2s steps(5), -ms-filter 0.2s steps(5),
    filter 0.2s steps(5);
}
.private-hoverlay .private-overlay__overlay-content {
  transition: opacity 0.2s;
  color: #fff;
  opacity: 0;
  outline: none;
}
.private-hoverlay.private-hovered .private-hoverlay__overlay,
.private-hoverlay
  .private-hoverlay__button:focus
  > .private-hoverlay
  > .private-hoverlay__overlay,
.private-hoverlay .private-hoverlay__overlay--focused,
.private-hoverlay .private-hoverlay__overlay:focus,
.private-hoverlay a:focus > .private-hoverlay > .private-hoverlay__overlay {
  transition: background-color 0.2s;
  background-color: rgba(81, 111, 144, 0.85);
}
.private-hoverlay.private-hovered
  .private-hoverlay__overlay
  .private-overlay__overlay-content,
.private-hoverlay
  .private-hoverlay__button:focus
  > .private-hoverlay
  > .private-hoverlay__overlay
  .private-overlay__overlay-content,
.private-hoverlay
  .private-hoverlay__overlay--focused
  .private-overlay__overlay-content,
.private-hoverlay
  .private-hoverlay__overlay:focus
  .private-overlay__overlay-content,
.private-hoverlay
  a:focus
  > .private-hoverlay
  > .private-hoverlay__overlay
  .private-overlay__overlay-content {
  transition: opacity 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 1;
}
.private-hoverlay.private-hovered
  .private-hoverlay__overlay
  + .private-hoverlay__children--blur,
.private-hoverlay
  .private-hoverlay__button:focus
  > .private-hoverlay
  > .private-hoverlay__overlay
  + .private-hoverlay__children--blur,
.private-hoverlay
  .private-hoverlay__overlay--focused
  + .private-hoverlay__children--blur,
.private-hoverlay
  .private-hoverlay__overlay:focus
  + .private-hoverlay__children--blur,
.private-hoverlay
  a:focus
  > .private-hoverlay
  > .private-hoverlay__overlay
  + .private-hoverlay__children--blur {
  -ms-filter: blur(5px);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: -webkit-filter 0.2s steps(5), -ms-filter 0.2s steps(5),
    filter 0.2s steps(5);
}
.private-avatar-hoverlay {
  border-radius: 100%;
}
.private-avatar-hoverlay .private-hoverlay__overlay {
  border-radius: 100%;
}
.private-avatar-hoverlay .private-avatar-hoverlay__foreground-text {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 1px transparent;
  margin-bottom: 16px;
  margin-top: 0;
  display: block;
  font-size: 14px;
  line-height: normal;
  text-transform: none;
  margin-bottom: 0;
  text-align: center;
  text-decoration: underline;
}
.private-overlay-highlight {
  display: inline-block;
}
.private-overlay-highlight .private-overlay-highlight__content-shadow {
  border-radius: 40px;
  box-shadow: 0 0 100px 5253px rgba(45, 62, 80, 0.79);
  display: inline-block;
  position: relative;
  z-index: 900;
}
.private-overlay-highlight .private-overlay-highlight__content {
  position: relative;
  z-index: 1112;
}
@keyframes loading {
  0% {
    transform: translateY(0);
  }
  25% {
    background-color: #cbd6e2;
    transform: translateY(0.25em);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    background-color: #cbd6e2;
    transform: translateY(-0.25em);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes loading {
  0% {
    transform: translateY(0);
  }
  25% {
    background-color: #cbd6e2;
    transform: translateY(0.25em);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    background-color: #cbd6e2;
    transform: translateY(-0.25em);
  }
  to {
    transform: translateY(0);
  }
}
.uiLoading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 1.25em;
  width: 4.5em;
}
.uiLoading-grow {
  height: 100%;
  width: 100%;
}
.uiLoadingDot {
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
  background-color: currentColor;
  border-radius: 50%;
  color: #7c98b6;
  height: 1em;
  width: 1em;
}
.uiLoadingDot.dot-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  margin-right: 0.75em;
}
.uiLoadingDot.dot-2 {
  -webkit-animation-delay: -0.66s;
  animation-delay: -0.66s;
  margin-right: 0.75em;
}
.uiLoadingDot.dot-3 {
  -webkit-animation-delay: -0.33s;
  animation-delay: -0.33s;
}
.uiLoadingDot.loading-blue {
  color: #347ec6;
}
.uiLoadingDot.loading-orange {
  color: #e66e50;
}
.private-modal__container {
  margin: 0 auto;
  height: 100%;
}
@media only screen and (max-width: 800px) {
  .private-modal__container {
    position: relative;
  }
}
.private-spinner {
  margin: 8px;
  position: relative;
}
.private-spinner .private-spinner__result {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  transition: opacity 0.2s ease-in-out 0.1s,
    transform 0.3s cubic-bezier(0.2, 0.9, 0.3, 2) 0.1s;
}
.private-spinner .private-spinner__result-icon {
  vertical-align: middle;
}
.private-spinner .private-spinner-wrapper {
  height: 100%;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s ease-in-out,
    transform 0.2s cubic-bezier(0.89, 0.03, 0.68, 0.22);
  width: 100%;
}
.private-spinner .private-spinner-wrapper .private-spinner__ring {
  height: 100%;
  width: 100%;
}
.private-spinner .private-spinner-wrapper .private-spinner__ring-path {
  animation: private-dash 2s ease-in-out infinite,
    private-spin 2s linear infinite;
  stroke-linecap: round;
  transform-origin: center;
}
.private-spinner.private-spinner--showing-result .private-spinner-wrapper {
  opacity: 0;
  transform: scale(0.7);
}
.private-spinner.private-spinner--showing-result .private-spinner__result {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.private-spinner--link .private-spinner__ring-background {
  stroke: #7dbfff;
}
.private-spinner--link .private-spinner__ring-path {
  stroke: #005eb8;
}
@keyframes private-spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes private-dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -50;
  }
  to {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -140;
  }
}

.react-toast-notifications__container.css-1jgv6z-ToastContainer {
  z-index: 10000;
}
